%footer.line
  .content
    %section.about
      %header.hd
        %h3#about-me About
      .in
        %p Allison Urban is a Web Analyst / UX Designer at <a href="http://mailchimp.com">MailChimp</a> and owner of <a href="http://lungingbull.com">Lunging Bull</a>, a tiny web studio specializing in design and development for early-stage startups. She&rsquo;s also an avid reader, fiction writer and newly minted scuba diver. She <a href="http://goodreads.com/allisonurban">loves books</a>, the Internet, mysterious landscapes, and <a href="http://seedthings.tumblr.com/">seeds for stories</a>. She collects business models and creative war stories. She has a BFA in <a href="http://www.dxarts.washington.edu/">Digital and Experimental Media Art</a> from the University of Washington. Her work has been featured in .Net Magazine, Dezeen Design and Architecture Magazine, SCRIPT Journal and MTVu.
        
    %section.lets-talk
      %header.hd
        %h3 Want to work together?
      %p.bd
        If you want to hire me, collaborate, throw ideas around or work on something amazing together, <a href="mailto:allisonkurban@gmail.com">I&rsquo;m available</a>.
    %section.links
      %header.hd
        %h3 Follow
      .bd
        %ul.plainlist
          %li
            %a{:href => "https://twitter.com/#!/allisonurban"} Twitter
          %li
            %a{:href => "http://goodreads.com/allisonurban"} GoodReads
          %li
            %a{:href => "http://seedthings.tumblr.com"} Tumblr
          %li
            %a{:href=>"https://github.com/allisonurban"} GitHub