
<!--       <div id="gr_custom_widget_1329534717">
            <div class="gr_custom_container_1329534717">
    <h2 class="gr_custom_header_1329534717">
    <a href="http://www.goodreads.com/review/list/1353299-allison?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget" style="text-decoration: none;">Allison's bookshelf: currently-reading</a>
    </h2>
            <div class="gr_custom_each_container_1329534717">
        
          <div class="gr_custom_book_container_1329534717">
            <a href="http://www.goodreads.com/review/show/275506706?utm_medium=api&amp;utm_source=custom_widget" title="Cloud Atlas"><img alt="Cloud Atlas" border="0" src="http://photo.goodreads.com/books/1320480930s/49628.jpg" /></a>
          </div>
        
        
        
          <div class="gr_custom_title_1329534717">
            <a href="http://www.goodreads.com/review/show/275506706?utm_medium=api&amp;utm_source=custom_widget">Cloud Atlas</a>
          </div>
        
        
          <div class="gr_custom_author_1329534717">
            by <a href="http://www.goodreads.com/author/show/4565.David_Mitchell">David Mitchell</a>
          </div>
        
        
        
      </div>
    <br style="clear: both"/>
  <center>
    <a href="http://www.goodreads.com/"><img src="http://www.goodreads.com/images/widget/widget_logo.gif" alt="goodreads.com" style="border:0;" /></a>
  </center>
  <noscript>
    Share <a href="http://www.goodreads.com">book reviews</a> and ratings with Allison, and even join a <a href="http://www.goodreads.com/group/">book club</a> on Goodreads.
  </noscript>
  </div>

      </div>
      <script src="http://www.goodreads.com/review/custom_widget/1353299.Allison's%20bookshelf:%20currently-reading?cover_position=left&amp;cover_size=small&amp;num_books=2&amp;order=d&amp;shelf=currently-reading&amp;show_author=1&amp;show_cover=1&amp;show_rating=0&amp;show_review=0&amp;show_tags=0&amp;show_title=1&amp;sort=date_read&amp;widget_bg_color=FFFFFF&amp;widget_bg_transparent=true&amp;widget_border_width=none&amp;widget_id=1329534717&amp;widget_text_color=000000&amp;widget_title_size=medium&amp;widget_width=full" type="text/javascript" charset="utf-8"></script> -->
      
      
      <div id="gr_custom_widget_1329534522">
            <div class="gr_custom_container_1329534522">
    <h2 class="gr_custom_header_1329534522">
    <a href="http://www.goodreads.com/review/list/1353299-allison?shelf=read&amp;utm_medium=api&amp;utm_source=custom_widget" style="text-decoration: none;">Allison's bookshelf: read</a>
    </h2>
            <div class="gr_custom_each_container_1329534522">
        
          <div class="gr_custom_book_container_1329534522">
            <a href="http://www.goodreads.com/review/show/274482983?utm_medium=api&amp;utm_source=custom_widget" title="Mockingjay (The Hunger Games, #3)"><img alt="Mockingjay" border="0" src="http://photo.goodreads.com/books/1294615552s/7260188.jpg" /></a>
          </div>
        
        
          <div class="gr_custom_rating_1329534522">
            <img alt="5 of 5 stars" height="15" src="http://d2owxupnsl35mn.cloudfront.net/images/layout/stars/red_star_5_of_5.png?1329524225" title="5 of 5 stars, it was amazing" width="75" />
          </div>
        
        
          <div class="gr_custom_title_1329534522">
            <a href="http://www.goodreads.com/review/show/274482983?utm_medium=api&amp;utm_source=custom_widget">Mockingjay</a>
          </div>
        
        
          <div class="gr_custom_author_1329534522">
            by <a href="http://www.goodreads.com/author/show/153394.Suzanne_Collins">Suzanne Collins</a>
          </div>
        
        
        
      </div>
            <div class="gr_custom_each_container_1329534522">
        
          <div class="gr_custom_book_container_1329534522">
            <a href="http://www.goodreads.com/review/show/274481463?utm_medium=api&amp;utm_source=custom_widget" title="The Lion, the Witch and the Wardrobe (The Chronicles of Narnia, #2)"><img alt="The Lion, the Witch and the Wardrobe" border="0" src="http://photo.goodreads.com/books/1210377309s/65645.jpg" /></a>
          </div>
        
        
          <div class="gr_custom_rating_1329534522">
            <img alt="3 of 5 stars" height="15" src="http://dkt27ch3b0vq7.cloudfront.net/images/layout/stars/red_star_3_of_5.png?1329524225" title="3 of 5 stars, liked it" width="75" />
          </div>
        
        
          <div class="gr_custom_title_1329534522">
            <a href="http://www.goodreads.com/review/show/274481463?utm_medium=api&amp;utm_source=custom_widget">The Lion, the Witch and the Wardrobe</a>
          </div>
        
        
          <div class="gr_custom_author_1329534522">
            by <a href="http://www.goodreads.com/author/show/1069006.C_S_Lewis">C.S. Lewis</a>
          </div>
        
        
        
      </div>
            <div class="gr_custom_each_container_1329534522">
        
          <div class="gr_custom_book_container_1329534522">
            <a href="http://www.goodreads.com/review/show/263415182?utm_medium=api&amp;utm_source=custom_widget" title="The Lost City of Z: A Tale of Deadly Obsession in the Amazon"><img alt="The Lost City of Z: A Tale of Deadly Obsession in the Amazon" border="0" src="http://photo.goodreads.com/books/1320487318s/3398625.jpg" /></a>
          </div>
        
        
          <div class="gr_custom_rating_1329534522">
            <img alt="5 of 5 stars" height="15" src="http://d2owxupnsl35mn.cloudfront.net/images/layout/stars/red_star_5_of_5.png?1329524225" title="5 of 5 stars, it was amazing" width="75" />
          </div>
        
        
          <div class="gr_custom_title_1329534522">
            <a href="http://www.goodreads.com/review/show/263415182?utm_medium=api&amp;utm_source=custom_widget">The Lost City of Z: A Tale of Deadly Obsession in the Amazon</a>
          </div>
        
        
          <div class="gr_custom_author_1329534522">
            by <a href="http://www.goodreads.com/author/show/1431785.David_Grann">David Grann</a>
          </div>
        
        
        
      </div>
            <div class="gr_custom_each_container_1329534522">
        
          <div class="gr_custom_book_container_1329534522">
            <a href="http://www.goodreads.com/review/show/262305771?utm_medium=api&amp;utm_source=custom_widget" title="The Magician's Nephew (Chronicles of Narnia, #1)"><img alt="The Magician's Nephew" border="0" src="http://photo.goodreads.com/books/1210377377s/509797.jpg" /></a>
          </div>
        
        
          <div class="gr_custom_rating_1329534522">
            <img alt="3 of 5 stars" height="15" src="http://dkt27ch3b0vq7.cloudfront.net/images/layout/stars/red_star_3_of_5.png?1329524225" title="3 of 5 stars, liked it" width="75" />
          </div>
        
        
          <div class="gr_custom_title_1329534522">
            <a href="http://www.goodreads.com/review/show/262305771?utm_medium=api&amp;utm_source=custom_widget">The Magician's Nephew</a>
          </div>
        
        
          <div class="gr_custom_author_1329534522">
            by <a href="http://www.goodreads.com/author/show/1069006.C_S_Lewis">C.S. Lewis</a>
          </div>
        
        
        
      </div>
            <div class="gr_custom_each_container_1329534522">
        
          <div class="gr_custom_book_container_1329534522">
            <a href="http://www.goodreads.com/review/show/260425975?utm_medium=api&amp;utm_source=custom_widget" title="Swamplandia!"><img alt="Swamplandia!" border="0" src="http://photo.goodreads.com/books/1327933638s/11252905.jpg" /></a>
          </div>
        
        
          <div class="gr_custom_rating_1329534522">
            <img alt="5 of 5 stars" height="15" src="http://d2owxupnsl35mn.cloudfront.net/images/layout/stars/red_star_5_of_5.png?1329524225" title="5 of 5 stars, it was amazing" width="75" />
          </div>
        
        
          <div class="gr_custom_title_1329534522">
            <a href="http://www.goodreads.com/review/show/260425975?utm_medium=api&amp;utm_source=custom_widget">Swamplandia!</a>
          </div>
        
        
          <div class="gr_custom_author_1329534522">
            by <a href="http://www.goodreads.com/author/show/26417.Karen_Russell">Karen Russell</a>
          </div>
        
        
        
      </div>
            <div class="gr_custom_each_container_1329534522">
        
          <div class="gr_custom_book_container_1329534522">
            <a href="http://www.goodreads.com/review/show/231093689?utm_medium=api&amp;utm_source=custom_widget" title="Jonathan Strange &amp; Mr. Norrell"><img alt="Jonathan Strange &amp; Mr. Norrell" border="0" src="http://photo.goodreads.com/books/1316638004s/259035.jpg" /></a>
          </div>
        
        
          <div class="gr_custom_rating_1329534522">
            <img alt="4 of 5 stars" height="15" src="http://d2cnulzsnzwz8f.cloudfront.net/images/layout/stars/red_star_4_of_5.png?1329524225" title="4 of 5 stars, really liked it" width="75" />
          </div>
        
        
          <div class="gr_custom_title_1329534522">
            <a href="http://www.goodreads.com/review/show/231093689?utm_medium=api&amp;utm_source=custom_widget">Jonathan Strange &amp; Mr. Norrell</a>
          </div>
        
        
          <div class="gr_custom_author_1329534522">
            by <a href="http://www.goodreads.com/author/show/8842.Susanna_Clarke">Susanna Clarke</a>
          </div>
        
        
        
      </div>
            <div class="gr_custom_each_container_1329534522">
        
          <div class="gr_custom_book_container_1329534522">
            <a href="http://www.goodreads.com/review/show/227202104?utm_medium=api&amp;utm_source=custom_widget" title="Frankenstein "><img alt="Frankenstein" border="0" src="http://photo.goodreads.com/books/1213218199s/282702.jpg" /></a>
          </div>
        
        
          <div class="gr_custom_rating_1329534522">
            <img alt="3 of 5 stars" height="15" src="http://dkt27ch3b0vq7.cloudfront.net/images/layout/stars/red_star_3_of_5.png?1329524225" title="3 of 5 stars, liked it" width="75" />
          </div>
        
        
          <div class="gr_custom_title_1329534522">
            <a href="http://www.goodreads.com/review/show/227202104?utm_medium=api&amp;utm_source=custom_widget">Frankenstein</a>
          </div>
        
        
          <div class="gr_custom_author_1329534522">
            by <a href="http://www.goodreads.com/author/show/11139.Mary_Shelley">Mary Shelley</a>
          </div>
        
        
        
      </div>
            <div class="gr_custom_each_container_1329534522">
        
          <div class="gr_custom_book_container_1329534522">
            <a href="http://www.goodreads.com/review/show/247637875?utm_medium=api&amp;utm_source=custom_widget" title="The Tales of Beedle the Bard "><img alt="The Tales of Beedle the Bard" border="0" src="http://www.goodreads.com/images/nocover-60x80.jpg" /></a>
          </div>
        
        
          <div class="gr_custom_rating_1329534522">
            <img alt="4 of 5 stars" height="15" src="http://d2cnulzsnzwz8f.cloudfront.net/images/layout/stars/red_star_4_of_5.png?1329524225" title="4 of 5 stars, really liked it" width="75" />
          </div>
        
        
          <div class="gr_custom_title_1329534522">
            <a href="http://www.goodreads.com/review/show/247637875?utm_medium=api&amp;utm_source=custom_widget">The Tales of Beedle the Bard</a>
          </div>
        
        
          <div class="gr_custom_author_1329534522">
            by <a href="http://www.goodreads.com/author/show/1077326.J_K_Rowling">J.K. Rowling</a>
          </div>
        
        
        
      </div>
            <div class="gr_custom_each_container_1329534522">
        
          <div class="gr_custom_book_container_1329534522">
            <a href="http://www.goodreads.com/review/show/239036522?utm_medium=api&amp;utm_source=custom_widget" title="Ammonite"><img alt="Ammonite" border="0" src="http://photo.goodreads.com/books/1320459764s/180270.jpg" /></a>
          </div>
        
        
          <div class="gr_custom_rating_1329534522">
            <img alt="3 of 5 stars" height="15" src="http://dkt27ch3b0vq7.cloudfront.net/images/layout/stars/red_star_3_of_5.png?1329524225" title="3 of 5 stars, liked it" width="75" />
          </div>
        
        
          <div class="gr_custom_title_1329534522">
            <a href="http://www.goodreads.com/review/show/239036522?utm_medium=api&amp;utm_source=custom_widget">Ammonite</a>
          </div>
        
        
          <div class="gr_custom_author_1329534522">
            by <a href="http://www.goodreads.com/author/show/90780.Nicola_Griffith">Nicola Griffith</a>
          </div>
        
        
        
      </div>
            <div class="gr_custom_each_container_1329534522">
        
          <div class="gr_custom_book_container_1329534522">
            <a href="http://www.goodreads.com/review/show/238585069?utm_medium=api&amp;utm_source=custom_widget" title="Catching Fire (The Hunger Games, #2)"><img alt="Catching Fire" border="0" src="http://photo.goodreads.com/books/1268805322s/6148028.jpg" /></a>
          </div>
        
        
          <div class="gr_custom_rating_1329534522">
            <img alt="5 of 5 stars" height="15" src="http://d2owxupnsl35mn.cloudfront.net/images/layout/stars/red_star_5_of_5.png?1329524225" title="5 of 5 stars, it was amazing" width="75" />
          </div>
        
        
          <div class="gr_custom_title_1329534522">
            <a href="http://www.goodreads.com/review/show/238585069?utm_medium=api&amp;utm_source=custom_widget">Catching Fire</a>
          </div>
        
        
          <div class="gr_custom_author_1329534522">
            by <a href="http://www.goodreads.com/author/show/153394.Suzanne_Collins">Suzanne Collins</a>
          </div>
        
        
        
      </div>
    <br style="clear: both"/>
  <center>
    <a href="http://www.goodreads.com/"><img src="http://www.goodreads.com/images/widget/widget_logo.gif" alt="goodreads.com" style="border:0;" /></a>
  </center>
  <noscript>
    Share <a href="http://www.goodreads.com">book reviews</a> and ratings with Allison, and even join a <a href="http://www.goodreads.com/group/">book club</a> on Goodreads.
  </noscript>
  </div>

      </div>
      <script src="http://www.goodreads.com/review/custom_widget/1353299.Allison's%20bookshelf:%20read?cover_position=left&amp;cover_size=small&amp;num_books=10&amp;order=d&amp;shelf=read&amp;show_author=1&amp;show_cover=1&amp;show_rating=1&amp;show_review=0&amp;show_tags=0&amp;show_title=1&amp;sort=date_read&amp;widget_bg_color=FFFFFF&amp;widget_bg_transparent=true&amp;widget_border_width=none&amp;widget_id=1329534522&amp;widget_text_color=000000&amp;widget_title_size=medium&amp;widget_width=full" type="text/javascript" charset="utf-8"></script>