%header.main
  %h1#logo
    %a{:href=>"/"} Allison Urban
  %nav.nav
    %ul
      / %li 
      /   %a{:href=>"http://blog.allisonurban.com"} Blog
      %li
        %a{:href=>"/mentoring/"} Mentoring
      %li
        %a{:href=>"/about/"} About
      %li
        %a{:href=>"http://blog.allisonurban.com"} Blog
      %li 
        %a{:href=>"/portfolio/"} Portfolio

  