= render_partial 'header'

%section.content
  %header.topmatter
    %h2.title Let&rsquo;s go on an adventure!

  %section.mentoring.line
    .why-mentoring
      .in
        %h3 Why mentoring?
        %p The most significant developments in my life and learning have come as a result of personal relationships. Opening up to someone is never easy, especially when that person is a stranger whose life you want to learn from, but it&rsquo;s well worth the messy work of allowing yourself to be vulnerable; It&rsquo;s uncertain, exciting and anxiety inducing, but it&rsquo;s also the seed of adventure.
        %p The wonderful thing about mentoring is that it encourages people to believe in one another, and to make it the easiest, most natural thing in the world to express and welcome that belief. My hope is that we can share our experiences and learn together. I&rsquo;d love to hear what you&rsquo;re thinking about and working on. My inbox is always open.
        
        %p Here are a few experiences I&rsquo;ve had that I&rsquo;d love to share with you&#58;
      
        %ul.simplelist
          %li I transitioned from the liberal arts to the tech industry. I work as a Web Analyst / UX Designer at <a href="http://mailchimp.com">MailChimp</a> and run my own tiny web studio, <a href="http://lungingbull.com">Lunging Bull</a>.
          %li I learned how to ignore my art professors and finish my work. My undergraduate thesis went on to be featured in Dezeen Design and Architecture Magazine and SCRIPT Journal.
          %li I developed location-based games at Groundspeak in the days before iPhones.
          %li I co-founded the Parnassus Emerging Artist Series, a weekly forum for art students to share their work outside the classroom.
        
    .how-mentoring
      .in
        %h3 What does it look like?
        %p I&rsquo;m still learning this myself, but I think mentoring is about listening hard. It starts with an email exchange, often continues with a video chat, and sometimes even moves into collaborating on projects. The more you know about what you&rsquo;re hoping to learn, the better mentor I&rsquo;ll be able to be.
        
        %h3 How do we get started?
        %p Here are a few questions that can give us a place to begin. Send as many words as you like to <a href="mailto:allisonkurban@gmail.com">allisonkurban@gmail.com</a>.
      
        %ol.simplelist
          %li Tell me about yourself. How did you come to be who you are, and who do you want to become?
          %li What&rsquo;s the hardest decision you&rsquo;re facing right now?
          %li What&rsquo;s the best thing you&rsquo;ve read, watched, or listened to lately?
          %li What are you hoping to learn from this relationship?

        %p I&rsquo;m looking forward to adventuring with you!