= render_partial 'header'

%section.content
  %header.topmatter
    %h2.title Hi! I&rsquo;m Allison.

  %section.row
    %article.photo
      %figure
        %img{:src=>"../images/alli2.jpg"}
    %article.about
      .bd
        %p I&rsquo;m a Web Analyst / UX Designer at <a href="http://mailchimp.com">MailChimp</a> and owner of <a href="http://lungingbull.com">Lunging Bull</a>, a tiny web studio specializing in design and development for early-stage startups. I&rsquo;m also an avid reader, fiction writer and newly minted scuba diver. I <a href="http://goodreads.com/allisonurban">love books</a>, the Internet, mysterious landscapes, and <a href="http://seedthings.tumblr.com/">seeds for stories</a>. I collect business models and creative war stories. I have a BFA in <a href="http://www.dxarts.washington.edu/">Digital and Experimental Media Art</a> from the University of Washington. My work has been featured in .Net Magazine, Dezeen Design and Architecture Magazine, SCRIPT Journal and MTVu.
        %p
          = render_partial 'follow-on-twitter'
            
  %section.row
    %section.press
      %header.hd
        %h3 Awards &amp; Publications
      .bd
        %h4 Web
        %ul.plainlist
          %li
            %a{:href=>"http://www.netmagazine.com/features/net-awards-2011-winners"} Redesign of the Year
            %cite .Net Magazine, Nov 2011
          %li
            %a{:href=>"http://www.netmagazine.com/features/2011-review-20-css-sites-rocked"} 2011 Review&#58; 20 CSS Sites That Rocked
            %cite .Net Magasine, Dec 2011
            
        %h4 Art
        %ul.plainlist
          %li
            %a{:href=>"http://www.dezeen.com/2009/08/09/threshold-by-allison-urban/"} Threshold by Allison Urban
            %cite Dezeen Design and Architecture Magazine, Aug 2009
          %li
            %a{:href=>"http://scriptjr.nl/issues/1.1/allison-urban-1-1.php"} Selections from Threshold
            %cite SCRIPT Journal, Jan 2010
    
    %section.writing
      %header.hd
        %h3 Writing
      .bd
        %h4 Web
        %ul.plainlist
          %li
            %a{:href=>"http://blog.mailchimp.com/introducing-the-instapaper-merge-tag/"} Introducing the Instapaper Merge Tag
            %cite MailChimp Blog, June 2012
            
          %li
            %a{:href=>"http://blog.mailchimp.com/add-read-later-buttons-to-your-newsletter/"} Add Read Later Buttons To Your Newsletter
            %cite MailChimp Blog, March 2012
          %li
            %a{:href=>"http://blog.mailchimp.com/how-to-get-seo-benefit-from-your-campaign-archives/"} How to Get SEO Benefit From Your Campaign Archives
            %cite MailChimp Blog, Jan 2012
        %h4 Lit
        %ul.plainlist
          %li
            %a{:href=>"http://www.xenith.net/literary-science/allison-urban-radar-yes/"} Radar + Yes
            %cite Xenith, Jan 2009
          %li
            A Thoughtful Poem to Sleep By
            %cite Bricolage, Apr 2009
            
    %section.speaking
      %header.hd
        %h3 Speaking
      .bd
        %h4 Art
        %ul.plainlist
          %li
            %a{:href=>"http://www.washington.edu/research/urp/symp/schedule/thurtle.htm"} Beyond Embodiment: Movement, Object, Experience
            %cite University of Washington, Seattle, May 2009
            
          %li
            Guest Lecturer
            %cite School of Art, University of Washington, Seattle, Jun 2009

  %section.row
    %section.drumbeat
      %header.hd
        %h3 Drum Beat
      .poster
        .bd
          %figure
            %img{:src=>"../images/haters-gonna-hate.jpg"}
      .quotes
        .bd
          %blockquote
            &ldquo;The reasonable man adapts himself to the world; the unreasonable one persists in trying to adapt the world to himself. Therefore, all progress depends upon the unreasonable man.&rdquo;
            %cite George Bernard Shaw


