= render_partial 'header'

%section.content
  %header.topmatter
    %h2.title MozCon 2013

  %section.row
    %article
      %figure
        // Slideshare will go here.
    %article.about
      .bd
        %h3 Hi there.
        %p I'm glad you could make it to my talk. Here are some of some resources to get you thinking about user experience for your own products. Good luck, and if you have any questions, please do reach out to me <a href="http://twitter.com/@allisonurban">@allisonurban</a>.
  %section.row
    %section.unit.size1of3
      %header.hd
        %h3 Books
      .bd
        %ul
          %li.book
            %a.title{:href=>"http://www.amazon.com/Dont-Make-Me-Think-Usability/dp/0321344758/"} Don't Make Me Think
            %cite.author Steve Krug
          %li.book
            %a.title{:href=>"http://www.abookapart.com/products/designing-for-emotion"} Designing For Emotion
            %cite.author Aarron Walter
          %li.book
            %a.title{:href=>"http://www.amazon.com/Brain-Rules-Principles-Surviving-Thriving/dp/0979777747/"} Brain Rules
            %cite.author John Medina
          %li.book
            %a.title{:href=>"http://www.amazon.com/Different-Escaping-Competitive-Youngme-Moon/dp/030746086X/"} Different: Escaping the Competitive Herd
            %cite.author Youngme Moon
          %li.book
            %a.title{:href=>"http://www.amazon.com/The-Innovators-Dilemma-Revolutionary-Business/dp/0062060244/"} The Innovator's Dilemma
            %cite.author Clayton Christiansen
          %li.book
            %a.title{:href=>"http://www.amazon.com/Descartes-Error-Emotion-Reason-Human/dp/014303622X/"} Descartes&rsquo; Error: Emotion, Reason, and the Human Brain
            %cite.author Antonio Damasio
          %li.book
            %a.title{:href=>"http://www.amazon.com/How-Mind-Works-Steven-Pinker/dp/0393334775/"} How the Mind Works
            %cite.author Steven Pinker
            
    %section.unit.size1of3
      %header.hd
        %h3 Research Papers
      .bd
        %ul
          %li.paper
            %a.title{:href=>"http://www.sciencedirect.com/science/article/pii/S095354381100097X"} Understanding the most satisfying and unsatisfying user experiences: Emotions, psychological needs, and context 
            %cite.author Timo Partala, Aleksi Kallinen
          %li.paper
            %a.title{:href=>"http://www.sciencedirect.com/science/article/pii/S0953543811000737"} UX Curve: A method for evaluating long-term user experience
            %cite.author Sari Kujalaa, Virpi Rotob, Kaisa Vaananen-Vainio-Mattilaa, Evangelos Karapanosc, Arto Sinnelaa
          %li.paper
            %a.title{:href=>"http://www.sciencedirect.com/science/article/pii/S0953543806001056"} The role of social presence in establishing loyalty in e-Service environments
            %cite.author Dianne Cyra, Khaled Hassaneinb, Milena Headb, Alex Ivanovc, 
          %li.paper
            %a.title{:href=>"http://www.sciencedirect.com/science/article/pii/S095354380000031X"} What is Beautiful is Usable
            %cite.author N Tractinsky, A.S Katz, D Ikar
          %li.paper
            %a.title{:href=>"http://www.sciencedirect.com/science/article/pii/S0953543810000366"} Needs, affect, and interactive products – Facets of user experience
            %cite.author Marc Hassenzahla, Sarah Diefenbacha, Anja Goritzc

    %section.unit.size1of3
      %header.hd
        %h3 Misc
      .bd
        %ul
          %li
            %a{:href=>"http://getmentalnotes.com/"} Mental Notes
          %li
            %a{:href=>"http://52weeksofux.com/"} 52 Weeks of UX
          %li
            %a{:href=>"http://mailchimp.us5.list-manage1.com/subscribe?u=7e093c5cf4&id=ef8cc474cd"} MailChimp's UX newsletter




