/* line 12, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 21, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
:focus {
  outline: 1;
}

/* line 24, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
body {
  line-height: 1;
}

/* line 29, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
nav ul {
  list-style: none;
}

/* line 37, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 56, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 63, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 70, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 74, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 79, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 85, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 94, /Users/Ali/Sites/allison-urban/dynamic/css/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 1, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.line:after, .subnav:after, header.main:after, .topmatter:after, .row:after, .hd:after, .book:after,
.paper:after, .lastUnit:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

/* line 2, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.line, .subnav, header.main, .topmatter, .row, .hd, .book,
.paper {
  *zoom: 1;
}

/* line 3, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.unit, .thumbs li, footer .about, footer .lets-talk,
footer .links {
  float: left;
}

/* line 4, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.size1of1 {
  float: none;
}

/* line 5, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.size1of2, .goodreads,
.seedthings,
.about,
.why-mentoring,
.how-mentoring, footer .about {
  width: 50%;
}

/* line 6, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.size1of3, .about,
.goodreads,
.press,
.writing,
.speaking,
.poster,
.quotes, .thumbs li {
  width: 33.33333%;
}

/* line 7, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.size2of3, .seedthings,
.photo {
  width: 66.66666%;
}

/* line 8, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.size1of4, .info, footer .lets-talk,
footer .links {
  width: 25%;
}

/* line 9, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.size3of4, .screen {
  width: 75%;
}

/* line 10, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.size1of5 {
  width: 20%;
}

/* line 11, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.size2of5 {
  width: 40%;
}

/* line 12, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.size3of5 {
  width: 60%;
}

/* line 13, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.size4of5 {
  width: 80%;
}

/* line 14, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.size1of6 {
  width: 16.6666667%;
}

/* line 15, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.lastUnit {
  display: table-cell;
  float: none;
  width: auto;
  *display: block;
  *zoom: 1;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
}

/* line 16, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.in15 {
  padding: 15px;
}

/* line 17, /Users/Ali/Sites/allison-urban/dynamic/css/_grids.scss */
.in30 {
  padding: 30px;
}

/* Goodreads */
/* line 3, /Users/Ali/Sites/allison-urban/dynamic/css/_goodreads.scss */
#gr_custom_widget_1329534522 center,
#gr_custom_widget_1329534717 center {
  display: none;
}

/* line 6, /Users/Ali/Sites/allison-urban/dynamic/css/_goodreads.scss */
.gr_custom_container_1329534522,
.gr_custom_container_1329534717 {
  padding: 0 !important;
}

/* line 9, /Users/Ali/Sites/allison-urban/dynamic/css/_goodreads.scss */
h2.gr_custom_header_1329534522,
h2.gr_custom_header_1329534717 {
  display: none;
}

/* line 14, /Users/Ali/Sites/allison-urban/dynamic/css/_goodreads.scss */
.gr_custom_header_1329534522,
.gr_custom_each_container_1329534522,
.gr_custom_header_1329534717,
.gr_custom_each_container_1329534717 {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #ededed !important;
}

/* line 19, /Users/Ali/Sites/allison-urban/dynamic/css/_goodreads.scss */
.gr_custom_container_1329534522,
.gr_custom_container_1329534717 {
  /* customize your Goodreads widget container here*/
  border: 0px solid gray;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px 5px 10px 5px;
  background-color: transparent;
  color: #000000;
  width: 100%;
}

/* line 29, /Users/Ali/Sites/allison-urban/dynamic/css/_goodreads.scss */
.gr_custom_header_1329534522,
.gr_custom_header_1329534717 {
  /* customize your Goodreads header here*/
  border-bottom: 1px solid gray;
  width: 100%;
  text-align: center;
  font-size: 120%;
  margin: 0;
  padding: 15px 0;
  text-align: left;
}

/* line 39, /Users/Ali/Sites/allison-urban/dynamic/css/_goodreads.scss */
.gr_custom_header_1329534522 a,
.gr_custom_header_1329534717 a {
  color: #3f3f38;
}

/* line 42, /Users/Ali/Sites/allison-urban/dynamic/css/_goodreads.scss */
.gr_custom_each_container_1329534522,
.gr_custom_each_container_1329534717 {
  /* customize each individual book container here */
  width: 100%;
  clear: both;
  margin-bottom: 0;
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid #aaa;
}

/* line 51, /Users/Ali/Sites/allison-urban/dynamic/css/_goodreads.scss */
.gr_custom_book_container_1329534522,
.gr_custom_book_container_1329534717 {
  /* customize your book covers here */
  overflow: hidden;
  height: 60px;
  float: left;
  margin-right: 4px;
  width: 39px;
  margin-right: 15px;
}

/* line 60, /Users/Ali/Sites/allison-urban/dynamic/css/_goodreads.scss */
.gr_custom_author_1329534522,
.gr_custom_author_1329534717 {
  /* customize your author names here */
  font-size: 10px;
}

/* line 64, /Users/Ali/Sites/allison-urban/dynamic/css/_goodreads.scss */
.gr_custom_tags_1329534522,
.gr_custom_tags_1329534717 {
  /* customize your tags here */
  font-size: 10px;
  color: gray;
}

/* line 69, /Users/Ali/Sites/allison-urban/dynamic/css/_goodreads.scss */
.gr_custom_rating_1329534522,
.gr_custom_rating_1329534717 {
  /* customize your rating stars here */
  float: right;
}

/* line 73, /Users/Ali/Sites/allison-urban/dynamic/css/_goodreads.scss */
.gr_custom_rating_1329534522 img,
.gr_custom_rating_1329534717 img {
  border: none !important;
}

/* Tumblr */
/* line 2, /Users/Ali/Sites/allison-urban/dynamic/css/_tumblr.scss */
ol.tumblr_posts {
  list-style-type: none;
}

/* line 4, /Users/Ali/Sites/allison-urban/dynamic/css/_tumblr.scss */
.tumblr_caption {
  display: none;
}

/* line 6, /Users/Ali/Sites/allison-urban/dynamic/css/_tumblr.scss */
.tumblr_photo_post {
  float: left;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  /*width: 50%;*/
  width: 50%;
  height: 200px;
  vertical-align: top;
  word-wrap: break-word;
  overflow: hidden;
}

/* line 18, /Users/Ali/Sites/allison-urban/dynamic/css/_tumblr.scss */
.tumblr_photo_post:nth-child(2n) img {
  margin-right: 0;
}

/* line 20, /Users/Ali/Sites/allison-urban/dynamic/css/_tumblr.scss */
.tumblr_photo_post:nth-child(2n + 1) img {
  margin-left: 0;
}

/* line 22, /Users/Ali/Sites/allison-urban/dynamic/css/_tumblr.scss */
.tumblr_photo_post img {
  border: 1px solid #EDEDED;
  margin: 5px;
  min-height: 100%;
  width: 100%;
}

/* TYPOGRAPHY */
/* line 15, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
html {
  font-size: 13px;
}

/* line 18, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
h1, .h1 {
  font-size: 246.153846%;
  /* 32px / 13px */
}

/* line 19, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
h2, .h2 {
  font-size: 169.230769%;
  /* 22px / 13px */
}

/* line 20, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
h3, .h3 {
  font-size: 123.076923%;
  /* 16px / 13px */
}

/* line 21, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
h4, .h4 {
  font-size: 107.692308%;
  /* 14px / 13px */
}

/* line 23, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
h1, h2, h3, h4 {
  margin: 15px 0;
}

/* line 26, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
p {
  margin-bottom: 15px;
}

/* LINKS */
/* line 31, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
a,
a:visited {
  color: #4260b8;
  font-weight: bold;
  text-decoration: none;
}
/* line 35, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
a:hover,
a:visited:hover {
  color: #354c92;
  text-decoration: none;
}
/* line 38, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
a:hover img, a:hover .pic,
a:visited:hover img,
a:visited:hover .pic {
  opacity: 0.9;
}

/* line 42, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.view-all {
  float: right;
  height: 23px;
  line-height: 23px;
  display: inline-block;
}

/* line 51, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.hd a,
.hd a:visited,
.goodreads a,
.goodreads a:visited,
.seedthings a,
.seedthings a:visited {
  color: #3f3f38;
}
/* line 53, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.hd a:hover,
.goodreads a:hover,
.seedthings a:hover {
  color: #4260b8 !important;
  text-decoration: none;
}

/* line 58, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.left {
  float: left;
}

/* line 60, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.right {
  float: right;
}

/* LISTS */
/* line 66, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
ul, ol,
.plainlist,
ul.simplelist,
ol.simplelist {
  list-style-type: none;
}
/* line 68, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
ul li, ol li,
.plainlist li,
ul.simplelist li,
ol.simplelist li {
  margin-bottom: 5px;
}

/* line 71, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.simplelist {
  padding-left: 15px;
}
/* line 73, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.simplelist:last-child {
  margin-bottom: 15px;
}

/* line 76, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
ul.simplelist {
  list-style-type: disc;
  line-height: 1.6em;
}

/* line 81, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
ol.simplelist {
  list-style-type: decimal;
  line-height: 1.6em;
}

/* CONTENT */
/* line 89, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
img {
  max-width: 100%;
}

/* line 92, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
body {
  /* background-color: #f4f4f6; */
  border-top: 5px solid #a3f3fc;
  font-family: "helveticaneue", "helvetica neue", "helveticaneueroman", "helveticaneue-roman", "helvetica neue roman","helvetica", "arial",'texgyreherosregular', "tahoma", "geneva", sans-serif;
  font-size: 100%;
  font-stretch: normal;
  line-height: 1.8em;
  color: #3f3f38;
}

/* line 102, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.pic {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  background-size: 100%;
  background: url("/images/alli-circle.png") no-repeat 0 0;
  margin-top: -13px;
  margin-left: -65px;
}

/* line 113, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
cite {
  display: block;
}

/* line 117, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
#wrapper,
.content {
  width: 960px;
  margin: 0 auto;
}

/* line 121, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.content.narrow {
  width: 800px;
}

/* line 123, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.in, .subnav a, .bd {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 126, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.marg-in, .subnav, header.main, .topmatter, .hd, .screen figure, .photo figure, .thumbs li figure {
  margin-right: 15px;
  margin-left: 15px;
}

/* line 130, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.subnav {
  padding: 15px 0;
  border-bottom: 1px solid #ededed;
}
/* line 135, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.subnav li {
  float: left;
  margin: 0;
}
/* line 138, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.subnav a {
  cursor: pointer;
}

/* HEADERS */
/* line 144, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
header.main {
  padding: 10px 0;
  border-bottom: 1px solid #ededed;
}
/* line 149, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
header.main #logo {
  float: left;
}
/* line 151, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
header.main nav {
  float: right;
}
/* line 154, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
header.main #logo,
header.main nav {
  width: auto;
  margin: 0;
  font-size: 115.384615%;
  /* 15px / 13px */
  color: #c8c8c8;
}
/* line 159, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
header.main nav ul li {
  float: right;
  margin-left: 30px;
  margin-bottom: 0;
}
/* line 164, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
header.main a,
header.main a:visited {
  color: #c8c8c8;
}
/* line 166, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
header.main a:hover {
  color: #4260b8 !important;
  text-decoration: none;
}

/* line 174, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.title {
  padding: 0 0 20px 0;
  border-bottom: 1px solid #EDEDED;
}

/* line 178, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.row {
  margin-bottom: 30px;
}

/* line 182, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.hd {
  padding: 15px 0;
  margin-top: 0;
  margin-bottom: 9px;
  border-bottom: 1px solid #ededed;
}
/* line 189, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.hd h1, .hd h2, .hd h3, .hd h4 {
  margin: 0;
}

/* line 194, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.block, .goodreads,
.seedthings,
.about,
.why-mentoring,
.how-mentoring {
  padding-bottom: 30px;
}

/* line 208, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.goodreads,
.photo,
.screen,
.how-mentoring {
  float: right;
}

/* line 219, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.seedthings,
.about,
.info,
.press,
.writing,
.speaking,
.poster,
.quotes,
.why-mentoring {
  float: left;
}

/* line 242, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.screen figure {
  max-height: 570px;
}
/* line 245, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.screen img {
  max-width: 100%;
}
/* line 247, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.screen img.mobile {
  background-color: transparent;
  padding: 0;
  border: 0;
  width: 180px;
  position: relative;
  top: -330px;
  left: -70px;
}

/* line 256, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.info dl {
  border-top: 1px solid #ededed;
  margin: 12px 0 5px 0;
}
/* line 259, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.info dl dt, .info dl dd {
  padding: 5px 0;
  border-bottom: 1px solid #ededed;
}
/* line 262, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.info dl dt {
  font-weight: 600;
  float: left;
}
/* line 265, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.info dl dt:after {
  content: ":";
  margin: 0 5px 0 0;
}

/* line 270, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.photo {
  text-indent: -9999px;
}
/* line 272, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.photo figure {
  /*  background: url('/images/alli2.jpg') no-repeat 62% 70%;
  		background-size: 150%;
  		height: 275px; */
  background: url("/images/alli-in-color.jpg") no-repeat 62% 80%;
  background-size: 100%;
  height: 300px;
}
/* line 280, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.photo img {
  max-width: 100%;
}

/* line 289, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.thumbs li img {
  max-width: 100%;
}
/* line 292, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.thumbs li a figcaption,
.thumbs li a:visited figcaption {
  color: #c8c8c8;
}
/* line 294, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.thumbs li a:hover figcaption {
  color: #4260b8 !important;
  text-decoration: none;
}

/* line 299, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.thumbs.small li img {
  width: 100%;
}

/*li.portfolio:nth-child(4) {
	display: none; }*/
/* FOOTER */
/* line 306, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
footer {
  background: #d4d8d8;
  border-top: 1px solid #c0c2c2;
  padding: 15px 0 30px 0;
  margin-top: 75px;
}
/* line 311, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
footer p {
  margin-bottom: 10px;
}
/* line 313, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
footer p:last-of-type {
  margin-bottom: 0;
}
/* line 316, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
footer .hd {
  border: none;
}
/* line 326, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
footer .about,
footer .lets-talk {
  -moz-box-shadow: 1px 0 0 #c0c2c2;
  -webkit-box-shadow: 1px 0 0 #c0c2c2;
  box-shadow: 1px 0 0 #c0c2c2;
}

/* line 333, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.button {
  display: inline-block;
  background: #d4d8d8;
  border: 1px solid #c0c2c2;
  padding: 8px 22px;
  border-radius: 3px;
}
/* line 339, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.button:hover {
  color: #b9c0c0;
  background: #c7cccc;
}

/* line 347, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.book .title,
.paper .title {
  display: inline;
  float: left;
  border: none;
  padding: 0;
}
/* line 352, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.book .title:after,
.paper .title:after {
  font-weight: normal;
  color: #3f3f38;
  content: ', by\00a0';
}
/* line 358, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
.book .author,
.paper .author {
  font-style: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
  /* line 367, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
  #wrapper,
  .content {
    width: 100%;
  }

  /* line 387, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
  header.main #logo,
  header.main nav,
  footer .about,
  footer .links,
  footer .lets-talk,
  .why-mentoring,
  .how-mentoring,
  .photo,
  .about,
  .press,
  .writing,
  .speaking,
  .poster,
  .quotes,
  .info,
  .screen,
  .thumbs li,
  .seedthings,
  .goodreads {
    float: none;
    width: 100%;
  }

  /* line 392, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
  img.mobile,
  a.view-all {
    display: none;
  }

  /* line 396, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
  header.main #logo,
  header.main nav {
    font-size: 12px;
  }

  /* line 399, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
  header.main #logo {
    font-size: 12px;
    display: inline-block;
    float: left;
    width: 33.33333%;
  }

  /* line 404, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
  header.main nav {
    float: left;
    width: 66.66666%;
  }

  /* line 407, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
  header.main nav ul li {
    float: right;
    width: auto;
    text-align: left;
    margin-left: 15px;
  }

  /* line 413, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
  .photo figure {
    height: 175px;
    margin-bottom: 15px;
  }

  /* line 417, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
  .tumblr_photo_post {
    float: none;
    width: 100%;
    height: 200px;
  }

  /* line 422, /Users/Ali/Sites/allison-urban/dynamic/css/main.scss */
  .thumbs li img {
    border: 1px solid #ededed;
  }
}
