<!DOCTYPE HTML>
%html
  %head
    %title Allison Urban
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/main.css'}
    / [if IE]
      %script{:src=>"http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    :css
      article, aside, details, figcaption, figure, footer, header,
      hgroup, menu, nav, section { display: block; }
    = render_partial 'analytics'
  %body
    #wrapper
      = yield
      = refresh
    = render_partial 'footer'