= render_partial 'header'

/ %nav.subnav
/   %ul
/     %li
/       %a Front-End Development
/     %li
/       %a Data / Analytics
%section.content
  %section.row#mailchimp-2012-annual-report
    %header
      %h2.hd MailChimp Annual Report
    %article.screen
      %figure
        %a{:href => "http://mailchimp.com/2012"}
          %img{:alt => "MailChimp Annual Report", :src => "../images/portfolio/mailchimp-2012-annual-report.png", :title => "MailChimp 2012 Annual Report"}
    %section.info
      .bd
        %p MailChimp had a great year. We collected data from all around the company to tell a story about what our users have been up to and how we've grown as a company.
        %dl
          %dt Role
          %dd Data
          %dt Completed
          %dd January 2012
          %dt Client
          %dd MailChimp
        %p
          %a.launch{:href => "http://mailchimp.com/2012"} Launch &rarr;
            
  %section.row#tinyletter
    %header
      %h2.hd TinyLetter
    %article.screen
      %figure
        %a{:href => "http://tinyletter.com"}
          %img{:alt => "TinyLetter", :src => "../images/portfolio/tinyletter.png", :title => "TinyLetter"}
        %a{:href => "http://tinyletter.com"}
          %img.mobile{:alt => "TinyLetter", :src => "../images/portfolio/tinyletter-mobile.png", :title => "TinyLetter"}
    %section.info
      .bd
        %p TinyLetter is a simple email newsletter application for people with something to say.
        %dl
          %dt Role
          %dd CSS3, HTML5, JavaScript
          %dt Completed
          %dd March 2012
          %dt Client
          %dd MailChimp
        %p
          %a.launch{:href => "http://tinyletter.com"} Launch &rarr;
  
  %section.row#aaron-robbs
    %header
      %h2.hd Aaron Robbs Portfolio
    %article.screen
      %figure
        %a{:href => "http://wildandfearless.com"}
          %img{:alt => "Aaron Robbs", :src => "../images/portfolio/aaron-robbs.png", :title => "Aaron Robbs"}
    %section.info
      .bd
        %p Aaron Robbs is the Senior Designer at MailChimp. He put together a design for his personal portfolio and I built it out over several days.
        %dl
          %dt Role
          %dd CSS3, HTML5, JavaScript
          %dt Completed
          %dd March 2012
          %dt Client
          %dd Aaron Robbs
        %p
          %a.launch{:href => "http://wildandfearless.com"} Launch &rarr;

  
  %section.row#creative-blog
    %header
      %h2.hd Permission to be Creative
    %article.screen
      %figure
        %a{:href => "http://creative.mailchimp.com"}
          %img{:alt => "MailChimp Creative Blog", :src => "../images/portfolio/creative-blog.png", :title => "MailChimp Creative Blog"}
        %a{:href => "http://creative.mailchimp.com"}
          %img.mobile{:alt => "MailChimp Creative Blog", :src => "../images/portfolio/creative-blog-mobile.png", :title => "MailChimp Creative Blog"}
    %section.info
      .bd
        %p Permission to be Creative is a blog curated by the marketing department at MailChimp.
        %dl
          %dt Deliverable
          %dd Custom Tumblr theme
          %dt Role
          %dd CSS3, HTML5, JavaScript
          %dt Completed
          %dd January 2012
          %dt Client
          %dd MailChimp
        %p
          %a.launch{:href => "http://creative.mailchimp.com"} Launch &rarr;
                  
  %section.row#kb
    %header
      %h2.hd MailChimp Knowledge Base
    %article.screen
      %figure
        %a{:href => "http://kb.mailchimp.com"}
          %img{:alt => "MailChimp Knowledge Base", :src => "../images/portfolio/kb.jpg", :title => "MailChimp KnowledgeBase"}
        %a{:href => "http://kg.mailchimp.com"}
          %img.mobile{:alt => "MailChimp Knowledge Base", :src => "../images/portfolio/kb-mobile.png", :title => "MailChimp Knowledge Base"}
    %section.info
      .bd
        %p The Knowledge Base is a database of searchable help.
        %dl
          %dt Deliverable
          %dd CMS Customization
          %dt Role
          %dd CSS3, HTML5, JavaScript
          %dt Completed
          %dd November 2011
          %dt Client
          %dd MailChimp
        %p
          %a.launch{:href => "http://kb.mailchimp.com"} Launch &rarr;

  %section.row#lurvin
    %header
      %h2.hd Customer Lurvin&rsquo;
    %section.screen
      %figure
        %a{:href => "http://lurvin.mailchimp.com"}
          %img{:alt => "MailChimp Lurvin", :src => "../images/portfolio/lurvin.jpg", :title => "MailChimp Lurvin"}
    %section.info
      .bd
        %p After every support interaction, we ask our customers to complete a simple survey rating their experience. The site simply displays survey results from our 100 most recent customers, and it tallies the percentage of customers that gave us a &ldquo;Great&rdquo; score over the last three months.
        %dl
          %dt Deliverable
          %dd Web Application
          %dt Role
          %dd Ruby on Rails, CSS3, HTML5
          %dt Completed
          %dd August 2011
          %dt Client
          %dd MailChimp
        %p
          %a.launch{:href => "http://lurvin.mailchimp.com"} Launch &rarr;

  %section.row#sometimes
    %header
      %h2.hd Sometimes There&rsquo;s A Man
    %section.screen
      %figure
        %a{:href => "http://mailchimp.com/sometimes-theres-a-man"}
          %img{:alt => "Sometimes There's A Man", :src => "../images/portfolio/sometimes.jpg", :title => "Sometimes There's A Man"}
        %a{:href => "http://mailchimp.com/sometimes-theres-a-man"}
          %img.mobile{:alt => "Sometimes There's A Man", :src => "../images/portfolio/sometimes-mobile.png", :title => "Sometimes There's A Man"}
    %section.info
      .bd
        %p
          MailChimp commissioned Merlin Mann to make a rock opera as a sponsorship for his podcast,
          = succeed "." do
            %a{:href => "http://5by5.tv/b2w"} Back to Work
          We built a landing page to give it a proper home and make it available to everyone.
        %dl
          %dt Role
          %dd CSS3, HTML5, JavaScript
          %dt Completed
          %dd July 2011
          %dt Client
          %dd MailChimp
        %p
          %a.launch{:href => "http://mailchimp.com/sometimes-theres-a-man"} Launch &rarr;

  %section.row#mailchimp
    %header
      %h2.hd MailChimp.com Re-design
    %section.screen
      %figure
        %a{:href => "http://www.mailchimp.com"}
          %img{:alt => "MailChimp Website", :src => "../images/portfolio/mailchimp.jpg", :title => "MailChimp Website"}
    %section.info
      .bd
        %p When the website was being redesigned, we took the opportunity to completely rebuild the site from the ground up. We got rid of our content management system and opted instead for a static site generator, which allowed us to start working in HAML and SASS and building custom ruby helpers. Overall, it's been a massive improvement. The site has never been faster.
        %dl
          %dt Role
          %dd CSS3, HTML5, JavaScript
          %dt Completed
          %dd January 2011
          %dt Client
          %dd MailChimp
        %p
          %a.launch{:href => "http://www.mailchimp.com"} Launch &rarr;

  %section.row#whibbit
    %header
      %h2.hd Whibbit
    %section.screen
      %figure
        %img{:alt => "Whibbit", :src => "../images/portfolio/whibbit.jpg", :title => "Whibbit"}
    %section.info
      .bd
        %p Whibbit lets people ask location-based questions.
        %dl
          %dt Role
          %dd UI, Design, CSS, HTML
          %dt Completed
          %dd March 2010
          %dt Client
          %dd Groundspeak

  %section.row#geocaching
    %header
      %h2.hd Geocaching Dashboard
    %section.screen
      %figure
        %img{:alt => "Geocaching Website", :src => "../images/portfolio/geocaching.jpg", :title => "Geocaching Website"}
    %section.info
      .bd
        %p Geocaching is a data-driven sport but the user dashboard on Geocaching.com was hiding much of the information users wanted to see. My prototype focused on displaying the most relevant, actionable information  in order to increase users&rsquo; engagement with the game and other players both on and off the site. 
        %dl
          %dt Role
          %dd IA, UX
          %dt Completed
          %dd June 2010
          %dt Client
          %dd Groundspeak
